body{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: coral; */
}

#task1{    
    background:rgb(73, 135, 163);
    padding: 10px;
  }

#task2{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background:rgb(113, 119, 60);
    padding: 10px;
  }    
  
#task3{
    background:rgb(71, 134, 82);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
}
#task4{
    background:rgb(223, 216, 113);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
}

#task5{
    background:rgb(112, 222, 241);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
}


#button1{
    background: rgb(19, 184, 235);
}

#button2{
    background:rgb(38, 218, 22);
}

#element-hover {
    display: flex;  
	align-items: center;  
	justify-content: center;  
	height: 50%;
    width:15%;
    padding: 10px;
    	
	background: rgba(62, 14, 105, 0.5);      
	color: white;	
	border-radius: 20px;
}   

#login-prompt{
    display: flex;
    align-items: row;
}

#login{
    display: flex; 
	align-items: center;  
	justify-content: center;  
	height: 50%;
    width:15%;
    padding: 10px;
    background:rgb(165, 83, 131);
}